# Ignore everything
*

# Except
!.gitignore
!.config/alacritty
!.config/i3
!.config/picom
!.config/polybar
!.zsh/
!.gitconfig
!.gitmodules
!.vim
!.vim/vimrc
!.vim/autoload
!.zshrc
!.setup.sh
!.xinitrc
