# Ignore everything
/*

# Except
!.gitignore
!.zprofile
!.config/scripts/*
!.config/alacritty
!.config/i3
!.config/picom
!.config/polybar
!.zsh/
!.gitconfig
!.gitmodules
!.zshrc
!.setup.sh
!.xinitrc
!.vim

.vim/plugged
.vim/.netrwhist
.vim/.vimundo
